body {
	
	background: black;
	background-image:url(hotel.jpg);
	background-position:  bottom top;
	background-size: 100%;
	
	color: white;
}

a:link{
	color: blue;
	text-decoration: none;
}
a:visited{
	color: green;
	text-decoration: none;
}
a:hover{
	color: pink;
}
a:active{
	color: blue;
}
h2 {
	background-color: #;
	color: white;
	margin-top:100px;
	font-family:"Comic Sans MS";
	font-style:"Comic Sans MS";
	
}


h4 {
	color: white;
	font-family:"Comic Sans MS";
}

footer{
	border:0;
	width:"100%";
	height:"10%";
}

content{
	width:100px;
	height:100px;
}

menu{
	border=1px;
	align:center;
	width:100%;
	height:10%;
	background-color:#00ffff;
}